.navLink:hover {
    color:purple !important;
 }
 
 .menuNavLink:hover {
     color: purple !important
 }
 
 .menuDropdown .dropdown-toggle::after {
     display: none;
   }
 
   
 
 .menuDropdown:hover .dropdown-menu {
     display: block !important; 
   }
   
   .menuDropdown .dropdown-menu {
     display: none;
     position: absolute;
     z-index: 1;
     left: 0;
     top: 100%;
   }
   
   .scrollMenu {
     max-height: 150px;
     overflow-y: auto;
   }
 
   .scrollMenu::-webkit-scrollbar {
     display: none;
   }
   
   .navItemLink {
     padding: 10px 15px;
   }
 
 .navItemLink:hover{
 color: purple !important;
 }



   
 
 